<div class="p-24" id="typography-message-boxes">

    <div class="mat-title">Message Boxes</div>

    <div class="mat-card mat-elevation-z2 p-24" fxLayout="column">

        <div fxLayout="column" fxLayout.gt-md="row">

            <div class="preview" fxFlex="50" fxLayout="column" fxLayoutAlign="center">
                <div class="message-box">
                    This is a standard message box
                </div>
            </div>

            <fuse-highlight class="source-code" fxFlex="50" fxLayout="column" fxLayoutAlign="center"
                            lang="html">
                <textarea #source hidden="hidden">
                    <div class="message-box">
                        This is a standard message box
                    </div>
                </textarea>
            </fuse-highlight>

        </div>

        <div fxLayout="column" fxLayout.gt-md="row">

            <div class="preview" fxFlex="50" fxLayout="column" fxLayoutAlign="center">
                <div class="message-box error">
                    This is an alert message box!
                </div>
            </div>

            <fuse-highlight class="source-code" fxFlex="50" fxLayout="column" fxLayoutAlign="center"
                            lang="html">
                <textarea #source hidden="hidden">
                    <div class="message-box error">
                        This is an alert message box!
                    </div>
                </textarea>
            </fuse-highlight>

        </div>

        <div fxLayout="column" fxLayout.gt-md="row">

            <div class="preview" fxFlex="50" fxLayout="column" fxLayoutAlign="center">
                <div class="message-box warning">
                    This is a warning message box
                </div>
            </div>

            <fuse-highlight class="source-code" fxFlex="50" fxLayout="column" fxLayoutAlign="center"
                            lang="html">
                <textarea #source hidden="hidden">
                    <div class="message-box warning">
                        This is a warning message box!
                    </div>
                </textarea>
            </fuse-highlight>

        </div>

        <div fxLayout="column" fxLayout.gt-md="row">

            <div class="preview" fxFlex="50" fxLayout="column" fxLayoutAlign="center">
                <div class="message-box success">
                    This is a success message box
                </div>
            </div>

            <fuse-highlight class="source-code" fxFlex="50" fxLayout="column" fxLayoutAlign="center"
                            lang="html">
                <textarea #source hidden="hidden">
                    <div class="message-box success">
                        This is a success message box!
                    </div>
                </textarea>
            </fuse-highlight>

        </div>

        <div fxLayout="column" fxLayout.gt-md="row">

            <div class="preview" fxFlex="50" fxLayout="column" fxLayoutAlign="center">
                <div class="message-box info">
                    This is a info message box
                </div>
            </div>

            <fuse-highlight class="source-code" fxFlex="50" fxLayout="column" fxLayoutAlign="center"
                            lang="html">
                <textarea #source hidden="hidden">
                    <div class="message-box info">
                        This is a info message box!
                    </div>
                </textarea>
            </fuse-highlight>

        </div>


    </div>

</div>