<div class="page-layout carded fullwidth inner-scroll" id="product">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button [routerLink]="'/apps/e-commerce/products'" class="mr-0 mr-sm-16" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="product-image mr-8 mr-sm-16">
                    <img [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" fxLayout="column"
                     fxLayoutAlign="start start">
                    <div class="h2">
                        New Product
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Product Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!--            <button (click)="addProduct()"
                                *ngIf="pageType ==='new'"
                                [disabled]="formGroup.invalid"
                                class="save-product-button" mat-raised-button>
                            <span>ADD</span>
                        </button>-->

            <button (click)="saveProduct()"
                    [disabled]="formGroup.invalid || formGroup.pristine"
                    class="save-product-button" mat-raised-button>
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form [formGroup]="formGroup" class="product w-100-p" fxFlex fxLayout="column" name="formGroup">

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Product Name</mat-label>
                                    <input formControlName="name" matInput
                                           name="name"
                                           placeholder="Product Name"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Product Description</mat-label>
                                    <textarea formControlName="description" matInput
                                              name="description"
                                              placeholder="Product Description"
                                              rows="5">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Categories</mat-label>
                                    <mat-chip-list #categoryList>
                                        <mat-chip
                                            (removed)="removeCat(category)"
                                            *ngFor="let category of selectedCategories"
                                            [removable]="removable"
                                            [selectable]="selectable">
                                            {{category}}
                                            <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                        <input
                                            #categoryInput formControlName="categories"
                                            (matChipInputTokenEnd)="addCat($event)"
                                            [matAutocomplete]="autoCategory"
                                            [matChipInputFor]="categoryList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                                    </mat-chip-list>
                                    <mat-autocomplete #autoCategory="matAutocomplete"
                                                      (optionSelected)="selectedCat($event)">
                                        <mat-option *ngFor="let category of filtredCategories | async"
                                                    [value]="category">
                                            {{category}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Tags</mat-label>
                                    <mat-chip-list #tagList>
                                        <mat-chip
                                            (removed)="removeTag(tag)"
                                            *ngFor="let tag of selectedTags"
                                            [removable]="removable"
                                            [selectable]="selectable">
                                            {{tag}}
                                            <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                        <input
                                            #tagInput formControlName="tags"
                                            (matChipInputTokenEnd)="addTag($event)"
                                            [matAutocomplete]="autoTag"
                                            [matChipInputFor]="tagList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                                    </mat-chip-list>
                                    <mat-autocomplete #autoTag="matAutocomplete" (optionSelected)="selectedTag($event)">
                                        <mat-option *ngFor="let tag of filtredTags | async" [value]="tag">
                                            {{tag}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>


                            </div>

                        </mat-tab>

                        <mat-tab label="Product Images">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">
                                </div>
                            </div>

                        </mat-tab>

                        <mat-tab label="Pricing">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Tax Excluded Price</mat-label>
                                    <input formControlName="name" matInput
                                           name="priceTaxExcl"
                                           placeholder="Tax Excluded Price"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Tax Included Price</mat-label>
                                    <input formControlName="name" matInput
                                           name="priceTaxIncl"
                                           placeholder="Tax Included Price"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Tax Rate</mat-label>
                                    <input formControlName="name" matInput
                                           name="taxRate"
                                           placeholder="Tax Rate"
                                           type="number">
                                    <span matPrefix>&#37;&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Compared Price</mat-label>
                                    <input formControlName="name" matInput
                                           name="comparedPrice"
                                           placeholder="Compared Price"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                    <mat-hint align="start">Add a compare price to show next to the real price
                                    </mat-hint>
                                </mat-form-field>

                            </div>
                        </mat-tab>

                        <mat-tab label="Inventory">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>SKU</mat-label>
                                    <input formControlName="name" matInput
                                           name="sku"
                                           placeholder="SKU">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Quantity</mat-label>
                                    <input formControlName="name" matInput
                                           name="quantity"
                                           placeholder="Quantity"
                                           type="number">
                                </mat-form-field>

                            </div>

                        </mat-tab>

                        <mat-tab label="Shipping">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <div fxLayout="row" fxLayoutAlign="space-between">

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Width</mat-label>
                                        <input formControlName="name" matInput
                                               name="Width"
                                               placeholder="Width">
                                        <span matSuffix>cm</span>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Height</mat-label>
                                        <input formControlName="name" matInput
                                               name="Height"
                                               placeholder="Height">
                                        <span matSuffix>cm</span>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Depth</mat-label>
                                        <input formControlName="name" matInput
                                               name="Depth"
                                               placeholder="Depth">
                                        <span matSuffix>cm</span>
                                    </mat-form-field>

                                </div>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Weight</mat-label>
                                    <input formControlName="name" matInput
                                           name="Weight"
                                           placeholder="Weight">
                                    <span matSuffix>kg</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Extra Shipping Fee</mat-label>
                                    <input formControlName="name" matInput
                                           name="extraShippingFee"
                                           placeholder="Extra Shipping Fee"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
