<div class="page-layout carded fullwidth inner-scroll" id="product">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button [routerLink]="'/apps/e-commerce/products'" class="mr-0 mr-sm-16" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" class="product-image mr-8 mr-sm-16">
                    <img [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" fxLayout="column"
                     fxLayoutAlign="start start">
                    <div class="h2">
                        New Product
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Product Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button (click)="saveProduct()"
                    [disabled]="formGroup.invalid"
                    class="save-product-button" mat-raised-button>
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form [formGroup]="formGroup" class="product w-100-p" enctype="multipart/form-data" fxFlex
                      fxLayout="column" name="formGroup">

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Product Name</mat-label>
                                    <input formControlName="name" matInput
                                           name="name"
                                           placeholder="Product Name"
                                    >
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Product Description</mat-label>
                                    <textarea formControlName="comment" matInput
                                              name="comment"
                                              placeholder="Product Description"
                                              rows="5">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Categories</mat-label>
                                    <mat-chip-list #categoryList>
                                        <mat-chip
                                            (removed)="removeCat(category.name)"
                                            *ngFor="let category of selectedCategories"
                                            [removable]="removable"
                                            [selectable]="selectable">
                                            {{category.name}}
                                            <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                        <input
                                            #categoryInput formControlName="categoriesId"
                                            [matAutocomplete]="autoCategory"
                                            [matChipInputFor]="categoryList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                                    </mat-chip-list>
                                    <mat-autocomplete #autoCategory="matAutocomplete"
                                                      (optionSelected)="selectedCat($event)">
                                        <mat-option *ngFor="let category of filtredCategories | async"
                                                    [value]="category.id">
                                            {{category.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Tags</mat-label>

                                    <mat-chip-list #tagList>
                                        <mat-chip
                                            (removed)="removeTag(tag.name)"
                                            *ngFor="let tag of selectedTags"
                                            [removable]="removable"
                                            [selectable]="selectable">
                                            {{tag.name}}
                                            <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                        <input
                                            #tagInput formControlName="tagsId"
                                            [matAutocomplete]="autoTag"
                                            [matChipInputFor]="tagList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                                    </mat-chip-list>

                                    <mat-autocomplete #autoTag="matAutocomplete" (optionSelected)="selectedTag($event)">
                                        <mat-option *ngFor="let tag of filtredTags | async" [value]="tag.id">
                                            {{tag.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                            </div>

                        </mat-tab>

                        <mat-tab label="Product Images">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">
                                    <input formControlName="images" multiple name="images" type="file">
                                </div>
                            </div>

                        </mat-tab>

                        <mat-tab label="Pricing">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Price</mat-label>
                                    <input formControlName="price" matInput
                                           name="price"
                                           placeholder="Price"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>qte</mat-label>
                                    <input formControlName="qte" matInput
                                           name="qte"
                                           placeholder="Qte"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>


                            </div>
                        </mat-tab>

                        <mat-tab label="Shipping">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" class="w-100-p" floatLabel="always"
                                                    fxFlex="30">
                                        <mat-label>Product overview</mat-label>
                                        <textarea formControlName="overview" matInput
                                                  name="overview"
                                                  placeholder="overview"
                                                  rows="5">
                                    </textarea>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-100-p" floatLabel="always"
                                                    fxFlex="30">
                                        <mat-label>Product specifications</mat-label>
                                        <textarea formControlName="specifications" matInput
                                                  name="specifications"
                                                  placeholder="specifications"
                                                  rows="5">
                                    </textarea>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="w-100-p" floatLabel="always"
                                                    fxFlex="30">
                                        <mat-label>Product characteristic</mat-label>
                                        <textarea formControlName="characteristics" matInput
                                                  name="characteristics"
                                                  placeholder="characteristics"
                                                  rows="5">
                                    </textarea>
                                    </mat-form-field>


                                </div>

                                <mat-form-field appearance="outline" class="w-100-p" floatLabel="always">
                                    <mat-label>Ware House</mat-label>

                                    <mat-chip-list #wareHouseList>
                                        <mat-chip
                                            (removed)="removeWareHouse(wareHouse.country)"
                                            *ngFor="let wareHouse of selectedWareHouses"
                                            [removable]="removable"
                                            [selectable]="selectable">
                                            {{wareHouse.country}}
                                            <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                        <input
                                            #wareHouseInput
                                            [matAutocomplete]="autoWareHouse"
                                            [matChipInputFor]="wareHouseList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            formControlName="wareHousesId">
                                    </mat-chip-list>

                                    <mat-autocomplete #autoWareHouse="matAutocomplete"
                                                      (optionSelected)="selectedWareHouse($event)">
                                        <mat-option *ngFor="let wHouse of filtredWareHouses | async"
                                                    [value]="wHouse.id">
                                            {{wHouse.country}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
