<div class="card m-3">
    <h5 class="card-header">Characteristics</h5>
    <div class="card-body">
        <kendo-grid #gridCharacteristics [data]="characteristics" (change)='onGridChange()'>
            <ng-template kendoGridToolbarTemplate>
                <button (click)="onAdd()" class="k-button">Add</button>
            </ng-template>

            <kendo-grid-column field="name"></kendo-grid-column>

            <kendo-grid-column>
                <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                    <button (click)="onRemove(rowIndex)" class="k-button">Remove</button>
                </ng-template>
            </kendo-grid-column>

            <div *kendoGridDetailTemplate="let dataItem">
                <app-characteristics-details-grid [characteristic]="dataItem"
                                                  (characteristicsDetailsChange)='setDetails($event)'></app-characteristics-details-grid>
            </div>
        </kendo-grid>
    </div>
</div>

